<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hallresrvation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PitcherSnacks">
        </activity>
        <activity android:name=".HighTea">
        </activity>
        <activity android:name=".SpecialOffers">
        </activity>
        <activity android:name=".HallReservation" >

        </activity>
        <activity android:name=".GrandBallroom" >
        </activity>
        <activity android:name=".Lavender_Ballroom" >
        </activity>
        <activity android:name=".Lotus_Hall" >
        </activity>
        <activity android:name=".Aquarium_Hall" >
        </activity>
        <activity android:name=".MainActivity" >

        </activity>
    </application>

</manifest>